{% extends 'admin_base.html' %} {% block title %} Ansacad - Admin - Add Student
{% endblock %} {% block content %}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col-sm-12">
      <div class="page-sub-header">
        <h3 class="page-title">Add Students</h3>

        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'students' %}">Students</a>
          </li>

          <li class="breadcrumb-item active">Add Students</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Student Information

                <span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>
                  First Name

                  <span class="login-danger">*</span>
                </label>

                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter First Name"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Last Name <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Last Name"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Middle Name <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Middle Name"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Gender <span class="login-danger">*</span></label>

                <select class="form-control select">
                  <option selected disabled hidden>Select Gender</option>
                  <option>Female</option>
                  <option>Male</option>
                  <option>Others</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms calendar-icon">
                <label>Date Of Birth <span class="login-danger">*</span></label>
                <input
                  class="form-control datetimepicker"
                  type="text"
                  placeholder="DD-MM-YYYY"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Roll</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Roll Number"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Blood Group <span class="login-danger">*</span></label>

                <select class="form-control select">
                  <option selected disabled hidden>Select Blood Group</option>
                  <option>B+</option>
                  <option>A+</option>
                  <option>O+</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Religion <span class="login-danger">*</span></label>

                <select class="form-control select">
                  <option selected disabled hidden>Select Religion</option>
                  <option>Muslim</option>
                  <option>Christian</option>
                  <option>Others</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>E-Mail <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Email Address"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Class <span class="login-danger">*</span></label>

                <select class="form-control select">
                  <option selected disabled hidden>Select Class</option>
                  <option>J.S.S. 1</option>
                  <option>J.S.S. 2</option>
                  <option>J.S.S. 3</option>
                  <option>S.S.S. 1</option>
                  <option>S.S.S. 2</option>
                  <option>S.S.S. 3</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Class Arms <span class="login-danger">*</span></label>

                <select class="form-control select">
                  <option selected disabled hidden>Select Class Arms</option>
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Department</label>

                <select class="form-control select">
                  <option selected disabled hidden>Select Department</option>
                  <option>Art</option>
                  <option>Commercial</option>
                  <option>Science</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Admission ID</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Admission ID"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Parent's Name</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Parent Name"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Parent"s Phone</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Parent Phone Number"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Home Address</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Home Address"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Emergency Name</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Emergency Name"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Emergency Contact</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter Emergency Phone Number"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group students-up-files">
                <label>Upload Student Photo (150px X 150px)</label>

                <div class="uplod">
                  <label class="file-upload image-upbtn mb-0"
                    >Choose File<input type="file"
                  /></label>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="student-submit">
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
