{% extends 'admin_base.html' %} 
{% load static %} 

{% block title %} 
Ansacad - Admin - Add Student 
{%endblock %} 

{% block css_files %}
<link rel="stylesheet" href="{% static 'myschool_app/css/teacher_style.css' %}" />
{% endblock %} 

{% block content %}

<div class="page-header">
  <div class="row align-items-center">
    <div class="col-sm-12">
      <div class="page-sub-header">
        <h3 class="page-title">Add Students</h3>

        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'students' %}">Students</a>
          </li>

          <li class="breadcrumb-item active">Add Students</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Student Information
                <span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_first_name"
                  >First Name <span class="login-danger">*</span></label
                >
                {{ form.first_name }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_last_name"
                  >Last Name <span class="login-danger">*</span></label
                >
                {{ form.last_name }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_middle_name"
                  >Middle Name <span class="login-danger">*</span></label
                >
                {{ form.middle_name }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_gender"
                  >Gender <span class="login-danger">*</span></label
                >
                {{ form.gender }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_date_of_birth"
                  >Date Of Birth <span class="login-danger">*</span></label
                >
                {{ form.date_of_birth }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_roll">Roll</label>
                {{ form.roll }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_blood_group"
                  >Blood Group <span class="login-danger">*</span></label
                >
                {{ form.blood_group }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_religion"
                  >Religion <span class="login-danger">*</span></label
                >
                {{ form.religion }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_email"
                  >E-Mail <span class="login-danger">*</span></label
                >
                {{ form.email }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_class"
                  >Class <span class="login-danger">*</span></label
                >
                {{ form.class_name }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_class_arms"
                  >Class Arms <span class="login-danger">*</span></label
                >
                {{ form.class_arms }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_department">Department</label>
                {{ form.department }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_admission_id">Admission ID</label>
                {{ form.admission_id }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_parent_name">Parent's Name</label>
                {{ form.parent_name }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_parent_phone">Parent's Phone</label>
                {{ form.parent_phone }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_home_address">Home Address</label>
                {{ form.home_address }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_emergency_name">Emergency Name</label>
                {{ form.emergency_name }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group">
                <label for="id_emergency_contact">Emergency Contact</label>
                {{ form.emergency_contact }}
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group students-up-files">
                <label for="id_student_photo"
                  >Upload Student Photo (150px X 150px)</label
                >
                {{ form.student_photo }}
              </div>
            </div>

            <div class="col-12">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
