{% extends 'home.html' %} 
{% block title %} Ansar-ud-deen Academy Blog {%endblock %} 
{% block content %}

<section id="feeds">
  <div class="new-feeds">
    <div class="box-cards-blog">
      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg001.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"
              ><time datetime="22/Oct./2022">
                Saturday 22 0ct. 2022.
              </time></span
            >
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> </a></h2>

            <div class="desc">
              All Hail the Honourable Minister for Works and Housing; We
              celebrate another Surulerian; the Honourable Minister for Works
              and Housing, Mr. Babatunde Raji Fashola (SAN), a recipient of the
              Nigeria Excellence Award in Public Service (NEAPS). Mr. Babatunde
              Fashola has committed his life for over 18 years to public
              service, having served as a Chief of Staff to the Governor of
              Lagos State, two terms as Governor of Lagos State and two terms
              serving Minister of the Federal Republic of Nigeria. The successes
              recorded in the various public capacities are visible and the most
              recent of them is the completion of the Second Niger Bridge in
              Anambra State. As a Surulerian, we are proud of you and we pray to
              the Almighty to continue to strengthen you and grant you more
              successes in office. Congratulations Your Excellency, the
              Honourable Minister. e-signed: Fuad Kayode Laguda Chairman, All
              Progressives Congress (APC), Surulere
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="news-feed/page001.html" class="readmore read-more-btn">
              Read more
            </a>

            <button type="button" name="button" class="read-more-btn"></button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg002.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago </span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Gbajabiamila: Parliamentary Excellence Award Well Deserved; As
              President Muhammadu Buhari confers the award for Parliamentary
              Excellence to the Speaker, Federal House of Representatives, Rt.
              Hon. Speaker Femi Gbajabiamila, we join other Nigerians to
              celebrate yet another attestation to the good work of Mr. Speaker.
              Since joining the House and rising through the various ranks, Rt.
              Hon. Femi Gbajabiamila has been a distinguished representative
              with excellent leadership skills, service to humanity and an apt
              administrator, whose attributes have given the House a new look.
              The Nigeria Excellence Award in Public Service (NEAPS) Award for
              Rt. Hon. Gbjabiamila is well deserved and would spur him to
              continue the good work, not just for the people of Surulere but
              also for Lagos State and Nigeria as a whole. Congratulations Mr.
              Speaker. e-signed: Fuad Kayode Laguda Chairman, All Progressives
              Congress (APC), Surulere
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg003.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago</span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg004.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago </span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg005.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago</span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg006.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago </span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg007.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago</span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="new-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg008.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago </span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg009.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago</span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>
      <!-- number 1 -->

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg010.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago </span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg011.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago</span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="news-feed/cardimg012.jpg" alt="" />
        </div>

        <div class="card-meta">
          <div class="card-top">
            <a href="#" class="cat"> APC S.L.G </a>

            <span class="date"> 5 days ago </span>
          </div>

          <div class="card-body">
            <h2 class="card-title"><a href="#"> TOPIC </a></h2>

            <div class="desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est
              laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>

          <div class="card-bottom">
            <div class="user">
              <div class="author">
                <img src="news-feed/author/userimage.jpg" alt="author" />
              </div>

              <span class="username"> Mr. Fuad Kayode Laguda </span>
            </div>

            <a href="" class="readmore"> Read more </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
