<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="20" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Ansar-ud-deen Academy" />
    <meta
      name="keywords"
      content="Ansar-ud-deen, Academy, Ansacad, Education, Ansar-ud-deen society, Ansaruddeen, Ansaruddeen society, Ansar-ud-deen Academy" />
    <meta name="author" content="Bankole Yekeen Babatunde" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"
      integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/news-feed.css" />
    <link rel="icon" href="/logo/ansacad 2.jpeg" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.4/swiper-bundle.min.js"
      integrity="sha512-k2o1KZdvUi59PUXirfThShW9Gdwtk+jVYum6t7RmyCNAVyF9ozijFpvLEWmpgqkHuqSWpflsLf5+PEW6Lxy/wA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.4/swiper-bundle.css"
      integrity="sha512-wbWvHguVvzF+YVRdi8jOHFkXFpg7Pabs9NxwNJjEEOjiaEgjoLn6j5+rPzEqIwIroYUMxQTQahy+te87XQStuA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Ansar-ud-deen Academy</title>
  </head>

  <body>
    <header>
      <div class="menu">
        <div id="branding">
          <a href="home.html" class="link"
            ><img
              src="logo/ansacad.jpeg"
              alt="A LOGO"
              height="50px"
              style="border-radius: 15px; margin-top: 20px"
          /></a>
          <h1>
            APC <span class="highlight"> SURULERE LOCAL GOVERNMENT </span>
          </h1>
        </div>

        <div id="mobile-branding">
          <a href="home.html" class="link"
            ><img
              src="logo/APC Logo.jpg"
              alt="APC LOGO"
              height="50px"
              style="border-radius: 15px"
          /></a>
          <h1>
            APC
            <span class="highlight">
              <abbr title="SURULERE LOCAL GOVERNMENT"> S.L.G </abbr>
            </span>
          </h1>
        </div>

        <a href="#" class="hamburger" id="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>

        <nav class="list">
          <ul>
            <li class="current"><a href="home.html"> HOME </a></li>
            <li><a href="history.html"> HISTORY </a></li>
            <li><a href="#"> ABOUT US </a></li>
            <li><a href="news-feed.html"> NEWS FEED </a></li>
            <li><a href="gallery.html"> GALLERY </a></li>
            <li><a href="#contact"> CONTACT </a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section id="showcase">
        <div class="section-main">
          <h1>
            WELCOME TO APC <br />
            SURULERE LOCAL GOVERNMENT
          </h1>
          <p>
            PROGRESS, &nbsp; &nbsp; PROGRESS &nbsp; &nbsp; & &nbsp; &nbsp;
            PROGRESS ! ! !
          </p>
        </div>
      </section>

      <section id="newsletter">
        <div class="container">
          <h1>Subscribe To Our Newslettter</h1>

          <form class="" action="index.html" method="post">
            <input type="email" placeholder="Enter Email..." />

            <button type="submit" class="button_1">Subscribe</button>
          </form>
        </div>
      </section>
    </main>

    <footer>
      <div class="social" id="contact">
        <div id="founder">
          <p>APC Surulere, Copyright &copy; 2022</p>
        </div>

        <nav>
          <div class="wrapper">
            <div class="button">
              <div class="icon">
                <i class="fab fa-facebook"></i>
              </div>

              <a href="https://www.facebook.com/profile.php?id=100084885452230"
                ><span> facebook </span></a
              >
            </div>

            <div class="button">
              <div class="icon">
                <i class="fab fa-twitter"></i>
              </div>

              <a
                href="https://twitter.com/apcsurulerelg?t=3C4vHry30hojXquhUKA3wA&s=08"
                ><span> Twitter </span></a
              >
            </div>

            <div class="button">
              <div class="icon">
                <i class="fab fa-instagram"></i>
              </div>

              <a
                href="https://instagram.com/officialapcsurulerelg?igshid=YmMyMTA2M2Y="
                ><span> Instagram </span></a
              >
            </div>
          </div>
        </nav>
      </div>
    </footer>

    <!-- all main page script start here -->

    <script src="js/nav.js"></script>

    <script type="text/javascript">
      //javascript for navigation bar effect on scroll

      window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
      });
    </script>

    <script type="text/javascript">
      var slides = document.querySelectorAll(".slide");
      var btns = document.querySelectorAll(".btn");
      let currentSlide = 1;

      // Javascript for image slider manual navigation

      var manualNav = function (manual) {
        slides.forEach((slide) => {
          slide.classList.remove("active");

          btns.forEach((btn) => {
            btn.classList.remove("active");
          });
        });

        slides[manual].classList.add("active");
        btns[manual].classList.add("active");
      };

      btns.forEach((btn, i) => {
        btn.addEventListener("click", () => {
          manualNav(i);
          currentSlide = i;
        });
      });

      // Javascript for image slider autoplay navigation

      var repeat = function (activeClass) {
        let active = document.getElementsByClassName("active");
        let i = 1;

        var repeater = () => {
          setTimeout(function () {
            [...active].forEach((activeSlide) => {
              activeSlide.classList.remove("active");
            });

            slides[i].classList.add("active");
            btns[i].classList.add("active");
            i++;

            if (slides.length == i) {
              i = 0;
            }
            if (i >= slides.length) {
              return;
            }
            repeater();
          }, 10000);
        };
        repeater();
      };
      repeat();
    </script>

    <script src="js/splitscreen.js"></script>

    <script src="js/exco.js"></script>
  </body>
</html>
