<!DOCTYPE html>
<html lang="en">

<head>
    
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %} Ansacad - Student - Dashboard {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'logo/ansacad 2.jpeg' %}">
    <link 
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/student_style.css' %}">

</head>

<body>

    <div class="main-wrapper">

        <!-- Header Section -->

        {% block header %}

        <div class="header">

            <div class="header-left">

                <a href="{% url 'student_index' %}" class="logo">

                    <img src="{% static 'logo/ansacad 2.jpeg' %}" alt="Logo"> ANSAR UD DEEN ACADEMY

                </a>

            </div>
            
            <div class="menu-toggle">
            
                <a href="javascript:void(0);" id="toggle_btn">
            
                    <i class="fas fa-bars"></i>
            
                </a>
            
            </div>
            
            <div class="top-nav-search">
            
                <form>
            
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            
                </form>
            
            </div>
            
            <a class="mobile_btn" id="mobile_btn">
            
                <i class="fas fa-bars"></i>
            
            </a>
            
            <ul class="nav user-menu theme-toggler">

                <li class="nav-item dropdown noti-dropdown language-drop me-2">
                    
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                    
                        <img src="{% static 'icons/header-icon-01.svg' %}" alt="">
                    
                    </a>
                    
                    <div class="dropdown-menu ">
                    
                        <div class="noti-content">
                    
                            <div>
                    
                                <span class="material-icons-sharp active">light_mode</span>
                                <span class="material-icons-sharp">dark_mode</span>
                    
                            </div>
                    
                        </div>
                    
                    </div>
                
                </li>
            
                <li class="nav-item dropdown noti-dropdown me-2">
            
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
            
                        <img src="{% static 'img/icons/header-icon-05.svg' %}" alt="">
            
                    </a>
            
                    <div class="dropdown-menu notifications">
            
                        <div class="topnav-dropdown-header">
            
                            <span class="notification-title">Notifications</span>
                            <a href="{% url 'clear_notifications' %}" class="clear-noti"> Clear All </a>
            
                        </div>
            
                        <div class="noti-content">
            
                            <ul class="notification-list">
            
                                {% for notification in notifications %}
            
                                <li class="notification-message">
            
                                    <a href="#">
            
                                        <div class="media d-flex">
            
                                            <span class="avatar avatar-sm flex-shrink-0">
            
                                                <img class=" student.profile_pic.url" alt="User Image"
                                                    src="{% static 'img/profiles/avatar-02.jpg' %}">
            
                                            </span>
        
                                            <div class="media-body flex-grow-1">
        
                                                <p class="noti-details">{{ notification.message }}</p>
                                                <p class="noti-time"><span class="notification-time">{{
                                                        notification.created_at }}</span></p>
                                            </div>
        
                                        </div>
        
                                    </a>
        
                                </li>
        
                                {% endfor %}
        
                            </ul>
        
                        </div>
        
                        <div class="topnav-dropdown-footer">
        
                            <a href="{% url 'notifications' %}">View all Notifications</a>
        
                        </div>
        
                    </div>
        
                </li>
        
                <li class="nav-item zoom-screen me-2">
        
                    <a href="#" class="nav-link header-nav-list win-maximize">
        
                        <img src="{% static 'img/icons/header-icon-04.svg' %}" alt="">
        
                    </a>
        
                </li>
        
                <li class="nav-item dropdown has-arrow new-user-menus">
        
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
        
                        <span class="user-img">
        
                            <img class="rounded-circle" src="{{ student.profile_pic.url }}" width="31"
                                alt="student-pics">
        
                                <div class="user-text">
        
                                    <h6 class="user-name mb-0">{{ student.name }}</h6>
        
                                    <p class="text-muted mb-0">STUDENT</p>
        
                                </div>
        
                        </span>
        
                    </a>
     
                    <div class="dropdown-menu">
     
                        <div class="user-header">
     
                            <div class="avatar avatar-sm">
     
                                <img src="{{ student.profile_pic.url }}" alt="User Image"
                                    class="avatar-img rounded-circle">
     
                            </div>
 
                            <div class="user-text">
 
                                <h6 class="user-name mb-0">{{ student.name }}</h6>
                                <p class="text-muted mb-0">Student</p>
 
                            </div>
 
                        </div>
 
                        <a class="dropdown-item" href="{% url 'student_profile' %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'student_inbox' %}">Inbox</a>
                        <a class="dropdown-item" href="{% 'login' %}">Logout</a>
 
                    </div>
 
                </li>
 
            </ul>
 
        </div>
 
        {% endblock %}


        <!-- Sidebar Section -->
 
        {% block sidebar %}
        
        <div class="sidebar" id="sidebar">
        
            <div class="sidebar-inner slimscroll">
        
                <div id="sidebar-menu" class="sidebar-menu">
        
                    <ul>
        
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                     
                        <li class="submenu {% if request.path == '/profile/' %}active{% endif %}">
                            <a href="{% url 'student_profile' %}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span> Profile </span>
                            </a>
                        </li> <!-- student profile information -->
                     
                        <li class="submenu {% if request.path == '/Class Details/' %}active{% endif %}">
                            <a href="{% url 'class_details' %}">
                                <i class="fas fa-graduation-cap"></i>
                                <span> Class Details </span>
                            </a>
                        </li> <!--list of students in a particular class-->
                     
                        <li
                            class="submenu {% if request.path in ['/student_grade_test_view/', '/student_grade_exam_view/', '/student_grade_assignment_view/', '/student_grade_quizzes_view/', '/student_grade_project_view/', '/student_grade_result_view/'] %}active{% endif %}">
                            <a href="#">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                <span> Grades </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li {% if request.path=='/student_grade_test_view/' %}class="active" {% endif %}>
                                    <a href="{% url 'student_grade_test_view' %}">Test</a> <!---student's subjects' test score-->
                                </li>
                                <li {% if request.path=='/student_grade_exam_view/' %}class="active" {% endif %}>
                                    <a href="{% url 'student_grade_exam_view' %}">Examination</a> <!---student's subjects' examination score-->
                                </li>
                                <li {% if request.path=='/student_grade_assignment_view/' %}class="active" {% endif %}>
                                    <a href="{% url 'student_grade_assignment_view' %}">Assignment</a>
                                </li> <!---student's subjects' assignment score-->
                                <li {% if request.path=='/student_grade_quizzes_view/' %}class="active" {% endif %}>
                                    <a href="{% url 'student_grade_quizzes_view' %}">Quizzes</a>
                                </li> <!---student's subjects' quizzes score-->
                                <li class="submenu {% if request.path in ['/project_personal/', '/project_group/', '/project_class/', '/project_department/'] %}active{% endif %}">
                                    <a href="#">
                                        <i class="fas fa-building"></i>
                                        <span> Project</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li {% if request.path=='/project_personal/' %}class="active" {% endif %}><a
                                                href="{% url 'project_personal' %}">Personal</a></li>
                                        <li {% if request.path=='/project_group/' %}class="active" {% endif %}><a
                                                href="{% url 'project_group' %}">Group</a></li>
                                        <li {% if request.path=='/project_class/' %}class="active" {% endif %}><a
                                                href="{% url 'project_class' %}">Class</a></li>
                                        <li {% if request.path=='/project_department/' %}class="active" {% endif %}><a
                                                href="{% url 'project_department' %}">Department</a></li>
                                    </ul>
                                </li> <!---student's subjects' project score-->
                            </ul>
                        
                        </li>

                        <li class="menu-title">
                            <span>Class Management</span>
                        </li>

                        <li class="submenu {% if request.path == '/student_dashboard/' %}active{% endif %}">
                            <a href="{% url 'student_dashboard' %}">
                                <i class="fas fa-tachometer-alt"></i>
                                <span> Dashboard </span>
                            </a>
                        </li>
                        <li class="submenu {% if request.path == '/student_document/' %}active{% endif %}">
                            <a href="{% url 'student_document' %}">
                                <i class="fas fa-chalkboard-teacher"></i>
                                <span> Lecture Document </span>
                            </a>
                        </li>
                        <li class="submenu {% if request.path == '/student_video/' %}active{% endif %}">
                            <a href="{% url 'studnet_video' %}">
                                <i class="fas fa-clipboard-list"></i>
                                <span> Lecture Video </span>
                            </a>
                        </li>
                        <li class="submenu {% if request.path == '/student_assignment/' %}active{% endif %}">
                            <a href="{% url 'student_assignment' %}">
                                <i class="fas fa-clipboard-list"></i>
                                <span> Assignment </span>
                            </a>
                        </li>
                        <li class="submenu {% if request.path == '/student_quiz/' %}active{% endif %}">
                            <a href="{% url 'student_quiz' %}">
                                <i class="fas fa-clipboard-list"></i>
                                <span> Quizzes </span>
                            </a>
                        </li>
                        <li class="submenu {% if request.path == '/student_event/' %}active{% endif %}">
                            <a href="{% url 'student_event' %}">
                                <i class="fas fa-calendar-alt"></i>
                                <span> Events </span>
                            </a>
                        </li>
                        <li class="submenu {% if request.path == '/student_timetable/' %}active{% endif %}">
                            <a href="{% url 'student_timetable' %}">
                                <i class="fas fa-calendar-alt"></i>
                                <span> Time Table </span>
                            </a>
                        </li>
                        <li
                            class="submenu {% if request.path in ['/student_activity_sports/', '/student_activity_clubs/', '/student_activity_societies/'] %}active{% endif %}">
                            <a href="#">
                                <i class="fa fa-diamond"></i>
                                <span> Extra-curricular Activities </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li {% if request.path=='/student_activity_sports/' %}class="active" {% endif %}><a
                                        href="{% url 'student_activity_sports' %}">Sports</a></li>
                                <li {% if request.path=='/student_activity_clubs/' %}class="active" {% endif %}>
                                    <a href="{% url 'student_activity_clubs' %}">Clubs</a>
                                </li>
                                <li {% if request.path=='/student_activity_societies/' %}class="active" {% endif %}><a
                                        href="{% url 'student_activity_societies' %}">Societies</a></li>
                            </ul>
                        </li>

                        <li class="menu-title">
                            <span>Message & Notification</span>
                        </li>

                        <li
                            class="submenu {% if request.path in ['/student_inbox/', '/student_compose/', '/student_view_mail/'] %}active{% endif %}">
                           
                            <a href="#">
                           
                                <i class="fa fa-envelope"></i>
                                <span> Mail</span>
                                <span class="menu-arrow"></span>
                           
                            </a>
                           
                            <ul>
                                <li {% if request.path=='/student_inbox/' %}class="active" {% endif %}><a
                                        href="{% url 'student_inbox' %}">Inbox</a></li>
                                <li {% if request.path=='/student_compose/' %}class="active" {% endif %}><a
                                        href="{% url 'student_compose' %}">Compose</a></li>
                                <li {% if request.path=='/student_view_mail/' %}class="active" {% endif %}><a
                                        href="{% url 'student_view_mail' %}">View Mail</a></li>
                            </ul>
                        
                        </li>
                        
                        <li
                            class="submenu {% if request.path in ['/student_notification/', '/student_notification_all/', '/student_notification_add/', '/student_notification_edit/', '/student_notification_delete/'] %}active{% endif %}">
                            <a href="#">
                                <i class="fa fa-bell"></i>
                                <span> Notification </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li {% if request.path=='/student_notification/' %}class="active" {% endif %}><a
                                        href="{% url 'student_notification' %}">New Notification</a></li>
                                <li {% if request.path=='/student_notification_all/' %}class="active" {% endif %}><a
                                        href="{% url 'student_notification_all' %}">All Notification</a></li>
                                <li {% if request.path=='/student_notification_add/' %}class="active" {% endif %}><a
                                        href="{% url 'student_notification_add' %}">Add Notification</a></li>
                                <li {% if request.path=='/student_notification_edit/' %}class="active" {% endif %}><a
                                        href="{% url 'student_notification_edit' %}">Edit Notification</a>
                                </li>
                                <li {% if request.path=='/student_notification_delete/' %}class="active" {% endif %}><a
                                        href="{% url 'student_notification_delete' %}">Delete
                                        Notification</a></li>
                            </ul>
                        </li>
                        
                        <li
                            class="submenu {% if request.path == url 'class_chat' %}active{% endif %}">
                           
                            <a href="#">
                                <i class="fa fa-comments"></i>
                                <span> Chat</span>
                                <span class="menu-arrow"></span>
                            </a>
                           
                            <ul>
                                <li {% if request.path=='/class_chat/' %}class="active" {% endif %}><a
                                        href="{% 'class_chat' %}">Chat</a></li>
                                <li {% if request.path=='/group_chat/' %}class="active" {% endif %}><a
                                        href="{% url 'class_chat' %}">Group Chat</a></li>
                                <li {% if request.path=='/video_chat/' %}class="active" {% endif %}><a
                                        href="{% url 'class_chat' %}">Video Chat</a></li>
                                <li {% if request.path=='/audio_chat/' %}class="active" {% endif %}><a
                                        href="{% url 'class_chat' %}">Audio Chat</a></li>
                            </ul>
                        </li>
                       
                        <li class="submenu {% if request.path == url 'student_report' %}active{% endif %}">
                            <a href="{% url 'student_report' %}">
                                <i class="fa fa-flag" aria-hidden="true"></i>
                                <span> Report </span>
                            </a>
                        </li>
                       
                        <li class="submenu {% if request.path == url 'school_calendar' %}active{% endif %}">
                            <a href="{% url 'school_calendar' %}">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span> Calendar </span>
                            </a>
                        </li>
                       
                        <li class="menu-title">
                            <span>Management</span>
                        </li>
                       
                        <li class="submenu {% if request.path == url 'school_contact' %}active{% endif %}">
                            
                            <a href="{% url 'school_contact' %}">
                                <i class="fa fa-address-book" aria-hidden="true"></i>
                                <span> Contact </span>
                            </a>
                        
                        </li>

                        <li class="submenu {% if request.path == url 'school_notice_board' %}active{% endif %}">
                            <a href="{% url 'school_notice_board' %}">
                                <i class="fas fa-chalkboard"></i>
                                <span> Notice Board</span>
                            </a>
                        </li>

                        <li class="submenu {% if request.path == url 'school_help' %}active{% endif %}">
                            
                            <a href="{% url 'school_help' %}">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                                <span> Help </span>
                            </a>
                        
                        </li>
                    
                    </ul>
                
                </div>
            
            </div>
        
        </div>
        
        {% endblock %}

   
        <!-- Main Content Section -->
   
        <div class="page-wrapper">
   
            <div class="content container-fluid">
   
                {% block content %}
   
                <!-- Page-specific content will go here -->
   
                {% endblock %}
   
            </div>
   
        </div>

        <!-- Footer Section -->

        {% block footer %}

        <footer>

            <p>&copy; 2024 Ansacad School Management System. All Rights Reserved.</p>

        </footer>

        {% endblock %}

    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script defer src="{% static 'js/student_script.js' %}"></script>


</body>

</html>